@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
*{
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
h1{
    text-align: center;
    text-decoration: underline;
    color: crimson;
}
.container{
    display: flex;
    width: 90vw;
    margin: auto;
}
.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    border-radius: 40px;
    color: white;
    cursor: pointer;
    flex: 0.5;
    margin:10px;
    position: relative;
    transition: flex .7s ease-in;
}

 .panel h3 {
    margin: 0;
    font-size: 24px;
 }

 .panel .bg-text {
    opacity: 0;
}

.panel.active {
    flex:5;
}
.panel.active .bg-text {
    opacity: 1;
    transition: opacity .3s ease-in .4s;
}
.panel.active .bg-text{
    background-color: rgba(0,0,0, .30);
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 10px 10px 20px 20px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;

}

@media (max-width: 480px) {
    .container{
        width: 100vw;
    }
    .panel:nth-of-type(4), .panel:nth-of-type(5) {
        display: none;
    }
}